# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
js/aishek-jquery-animateNumber-v0.0.14-4-g8b31991
.cache
css/innecesarios